<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HOME</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Skranji:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/voted.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/form_slider.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  </head>


  <% include ./partials/_header %>
  <body>


        <!-- ********************************************************************************* -->
        <!-- Default form register -->


        <div id="voted_container" style='text-align:center'><!-- Sign up button -->
          <img src= "/images/feedback.png" id="voted_img  ">
          <h2 id= "voted_title"> Thanks for voting! </h2>
          <h5 id= "voted_subtitle">The poll administrator will notify you when a consensus has been reached. In the meantime, why not create a poll of your own? :) </h5>
      </body>
    </html>
