// See: https://sass-lang.com/

body {
  background-color: white;

  h1 {
    color: black;
    text-align: center;
    font-family: 'Skranji', cursive;
    font-weight: 700;
    font-size: 48pt;
    margin-top: 1em;
  }

  h2 {
    color: black;
    text-align: center;
    font-family: 'Skranji', cursive;
    font-weight: 700;
    font-size: 28pt;
    margin-bottom: 1em;
  }

  .fa-minus-circle {
    color: #FF4A47;
  }

  .additional-field {
    display:inline;
  }
  #home-logo {
    color: #28a745 ;
    //display: inline-block;
    //justify-content: center;
    font-size: 10em;
    animation: animate 1.5s infinite linear;
  }

  @keyframes animate {
    0% {
      transform: translate(0%, 0);
    }
    25% {
      transform: translate(-5%, 3%);
    }
    50% {
      transform: translate(0%, 0);
    }
    75% {
      transform: translate(5%, -3%);
    }
  }

  #whole-form {
    margin: 5% 20% 5% 20%;
    background-color: #D8D8D8;
    display: none;
  }

  #poll-submit-button {
    background-color: #3066BE;
  }

  #plus-button {
    background-color: #D8D8D8;
    border: none;
  }

}

.title {
  text-align: center;
}

 .vote {
   margin:auto;
   width: 70%;
  background-color: #EAEAEC;
   flex-wrap: wrap;
   align-content: center;
   padding: 1em;
   border-style: solid;
   border-color: gray


}

// .rankList {
//   margin: 0 auto;

//   border-style: solid;
//   height: 225px;
//   width: 400px;

// }

#formInput {
 text-align: center;
}

#bottom-container {
text-align: center;

}

#droppable {
  display:block;
  min-height: 150px;
  width: 70%;
  border-style: solid;
  border-color: gray;
  margin: 20%;
  align-content: center;
}

.option {
  border-style: solid;
  border-color:gray;
}
