#voted_container {
  margin-top: 70px;
  margin-left: 10%;
  margin-right: 10%;
}

img {
  height: 300px;
  width: 300px;
}

#voted_title {
  margin-top: 60px;
  margin-bottom: 20px;
  color: black;
}

h5 {
  margin: 0 auto;
}
